body {
    font: message-box;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
}
table {
    margin-bottom: 3px;
    width: 100%;
}
td:nth-child(2) {
    width: 0;
}
.button_container {
    display: table-cell;
}
.button_container > button {
    border: 0;
    background-color: inherit;
    padding: 0 2px 0 2px;
}
.button_container > button:hover {
    background-color: revert;
}
input {
    width: calc(100% - 7px);
}
.documentation > p {
    text-align: justify;
    hyphens: auto;
}
.rule_label {
    vertical-align: baseline;
}
thead {
    position: sticky;
    top: 0;
    background-color: canvas;
}
img#logo, h1 {
    align-self: center;
}

body.popup {
    width: 260px;
}
body.popup > button {
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
button#deactivate {
    border: 2px groove red;
    border-radius: 5px;
}
button#deactivate.off {
    border: 2px groove green;
}
