body {
    font: message-box;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}
header {
    text-align: center;
}
table {
    margin-bottom: 3px;
    width: 100%;
}
td:nth-child(3) {
    width: 0;
}
th:nth-child(4) {
    min-width: 25%;
}
.button_container {
    display: table-cell;
}
.button_container > button {
    border: 0;
    background-color: inherit;
    padding: 0 2px 0 2px;
}
.button_container > button:hover {
    background-color: revert;
}
input {
    width: calc(100% - 7px);
}
.rule_label {
    vertical-align: baseline;
}
thead {
    position: sticky;
    top: 0;
    background-color: canvas;
}

body.popup {
    width: 260px;
    margin: 0.5em;
}
body.popup > button {
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
button#deactivate {
    border: 2px groove red;
    border-radius: 5px;
}
button#deactivate.off {
    border: 2px groove green;
}

/* dark theme by https://github.com/anewuser */
@media (prefers-color-scheme: dark) {  
    body, option {
        background: #3B3B3D;
        color: #CACBCE;
    } 
    /* necessary for highlighting entire rows */
    table {
        border-collapse: collapse;
    }
    td {
        padding: 3px 5px;
    }
    tr:nth-child(n+3):hover {
        background: #2C2C30;   
    }   
    .control button, .popup button, input, input::file-selector-button, select, thead th{
        background: #27272A;          
        border: #424244;
        color: #CACBB5;
        margin: 2px 0;
        padding: 5px;
    }
    input:focus {
        outline: solid #AA4400 thin;
    }
    input[disabled] {
        opacity: 0.4;
    }
    .control button, input::file-selector-button{
        font-weight: bold;
        outline: solid #433027 medium;
        margin: 5px 10px 0 0;
        padding: 10px;
    }
    .control button:hover, .popup button:hover, input::file-selector-button:hover {
        background: #2C2C30;
        outline: solid  #AA4400 medium;
    }     
    .control button:active, .popup button:active, input::file-selector-button:active {
        background: #433027;
    }  
}
