body {
    margin: 5% 10% auto 10%;
}
table {
    width: 100%;
}
table, td, th {
    border-collapse: collapse;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}
