<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Referer test page</title>
    <link href="/static/style.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Referer test page</h1>
    <h2>Test Links</h2>
    <table>
      <tbody>
        <tr>
          <th>Local</th><td><a href="/">Home</a></td>
          <td><a href="/page/">Page</a></td>
        </tr>
        {{range $l := .Links}}
        <tr><th>{{ $l }}</th><td><a href="{{ $l }}/">Home</a></td><td><a href="{{ $l }}/page/">Page</a></td></tr>
        {{end}}
      </tbody>
    </table>
    <table>
    <h2>Headers</h2>
    <table>
      <thead>
        <tr><th>Name</th><th>Value</th></tr>
      </thead>
      <tbody>
        {{range $key, $value := .H}}{{range $v := $value}}
        <tr><td>{{ $key }}</td><td>{{ $v }}</td></tr>
        {{end}}{{end}}
      </tbody>
    </table>
    <iframe id="myiframe" src="about:blank" style="display: none;"></iframe>
    <h2>Javascript</h2>
    <p>document.referrer:
      <span id="referrer">(Unknown, are scripts enabled?)</span>
    </p>
    <p>Document.prototype.referrer:
      <span id="referrer-reflect">(Unknown, are scripts enabled?)</span>
    </p>
    <p>Document.prototype.referrer via iframe prototype:
      <span id="referrer-iframe">(Unknown, are scripts enabled?)</span>
    </p>
    <script>
      document.getElementById("referrer").innerText = document.referrer;
      document.getElementById("referrer-reflect").innerText =
          Reflect.getOwnPropertyDescriptor(Document.prototype, 'referrer')
              .get.call(document);
      var myiframe = document.getElementById('myiframe');
      var documentPrototype = Reflect.getPrototypeOf(
          Reflect.getPrototypeOf(myiframe.contentWindow.document));
      var getReferrer =
          Reflect.getOwnPropertyDescriptor(documentPrototype, 'referrer').get;
      document.getElementById("referrer-iframe").innerText =
          getReferrer.call(document);
    </script>
  </body>
</html>
